@{
    ViewBag.Title = "ОПОЗНАВАНЕ НА СЕБЕ СИ";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <p>
                І. ПРОЦЕСЪТ НА ОПОЗНАВАНЕ НА СЕБЕ СИ.
                Аз-образът обединява в себе си съзнанието и самосъзнанието, представата за собствената ни индивидуалност и самооценка, включва нашия опит. Аз-образът е относително постоянна представа за себе си, която имат хората. Видовете Аз-образ са:

                реално Аз – показва как човек възприема своите истински съществуващи способности и роли, включва представите му за това, какъв е в действителност;
                огледално /социално/ Аз – включва представите на човека за това, как смята, че изглежда в очите на другите, как те го възприемат и оценяват в процеса на общуването;
                идеално Аз- съвкупността от представите и оценките за това, какви бихме искали да бъдем.

                Отношението между реалното и идеалното Аз е самооценката на човека, която може да бъде изчислена по формулата:
                Успех /постижения/
                САМООЦЕНКА = ––––––––––
                Претенциите
                - успех/постижения/ – действителният успех на личността
                - претенции – т.е. стремеж да се признаят заслугите на личността, способностите и постиженията.

                ІІ. ЗАЩИТИ НА АЗ-А.
                Защитите на Аз-а /психичните защитни механизми/ са нормални механизми, с които разполага човек, за да намали тревожността, породена от вътрешни конфликти. Защитните механизми са:
                1. Отричане на реалността – човек изопачава действителните факти, които са
                мъчителни или пораждат тревожност, като отказва да ги признае или ги заменя с противоположни въображаеми факти.
                2. Изтласкване – проявява се като избирателно забравяне на случка или
                събитие, свързано с конфликт, стрес и травмиращи състояния.
                3. Проекция – човек несъзнателно пренася върху други лица собствени
                чувства, желания и влечения, защото не иска да признае, че притежава, разбирайки, че обществото не ги приема.
                4. Рационализация – процес на търсене и намиране на извинения за
                прегрешения и недостатъци с цел избягване на обвинения към себе си, разочарование и критика от страна на другите.
                5. Регресия – тя се характеризира с връщане към по-ранни начини на действия
                или чувства; връщане към модели на поведение, които не отговарят на възрастта.
                6. Сублимация – процес, при който потиснатите влечения придобиват друга социална форма на изразяване. Човек освобождава сексуалната и агресивната си енергия по начин, който е приемлив за обществото.

                ІІІ. ПРИЯТЕЛИТЕ.
                Едно от най-важните неща, които се случват във възрастта на юношеството е преориентацията от възрастните /родители, учители и др./ към връстниците. Общуването с връстниците става в група, т.нар. група на връстниците. Основните функции на тази група са: тя е канал за информация, източник на опит, носител и източник на емоционални преживявания. Групата дава възможност за общуване без намесата на възрастните. Както и при възрастните, групите на връстниците бива два основни вида: формални /или групи сформирани по външен критерий/ – училищен клас, кръжоци, спортен клуб, любителски трупи; неформални /или групи сформирани спонтанно/. Неформалните групи могат да се сформират по интереси /музикални, спортни предпочитания/; по териториален принцип – от блока, улицата, квартала, училището. Нерядко тези два вида групи се преливат една в друга. Например съученици от формалния училищен клас често стават неформална група след училище.
            </p>
        </div>
    </div>
</div>