@{
    ViewBag.Title = "Психология";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <p>
                Психологията (от гръцки: ψυχή — душа, дух, пеперуда, λόγος — наука) е научна дисциплина, изучаваща умствените процеси и поведението на хора или животни, като често прилага научния метод при лабораторни изследвания.[1] Психологията обхваща също прилагането на това знание в различни сфери, включително проблеми от ежедневния живот и лечение на психически заболявания.

                Основни обекти на изследване на психологията са възприятията, познавателната способност, вниманието, емоциите, мотивацията, функционирането на главния мозък, психологията на личността, поведението и междуличностните отношения. Някои учени, особено привържениците на дълбинната психология, включват в този списък и несъзнаваното. В своите изследвания психолозите използват емпирични методи за определяне на причинните и корелационни връзки между различни психосоциални променливи. В допълнение или вместо емпиричните и дедуктивни методи, някои клинични психолози разчитат на интерпретация на символи и други индуктивни техники.

                Макар че психологическото познание обикновено се използва за оценка и третиране на проблеми с психическото здраве, то служи и за разбиране и разрешаване на проблеми от много други области. Голямото мнозинство от психолозите работят в областта на клиничната, консултативната и училищната психология, но също и на индустриалната и организационна психология и други области,[2] като възрастова, спортна, медицинска и юридическа психология.
            </p>
        </div>
    </div>
</div>