@model CreateArticleCategoryViewModel

@using (Html.BeginForm("Add", "ArticleCategory"))
{
    <div>
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
        </div>
    </div>
    <input type="submit" value="Създаване" />
}
