
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="row">
                <h3>Форум</h3>
            </div>
            <div class="row">
                <div class="pull-right">
                    <div class="btn-group ">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Категории<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/Forum/Category/1">Action</a></li>
                            <li><a href="/Forum/Category/1">Action</a></li>
                            <li><a href="/Forum/Category/1">Action</a></li>
                            <li><a href="/Forum/Category/1">Action</a></li>
                            <li><a href="/Forum/Category/1">Action</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-default" href="/Forum/Create">Създаване на тема</a>
                </div>
            </div>
            <hr />
            <a href="/Forum/detail/1">
                <h3 class="panel-title">ForumTitle</h3>
            </a>
            <hr />
            <a href="/Forum/detail/1">
                <h3 class="panel-title">ForumTitle</h3>
            </a>
            <hr />
            <a href="/Forum/detail/1">
                <h3 class="panel-title">ForumTitle</h3>
            </a>
            <hr />
            <a href="/Forum/detail/1">
                <h3 class="panel-title">ForumTitle</h3>
            </a>
            <hr />
            <a href="/Forum/detail/1">
                <h3 class="panel-title">ForumTitle</h3>
            </a>
            <hr />
            <a href="/Forum/detail/1">
                <h3 class="panel-title">ForumTitle</h3>
            </a>
            <hr />
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Prev</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>

