@{
    ViewBag.Title = "Тестове";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h2>Тестове</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/User/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/User/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/User/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/User/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/User/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="Users/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="Users/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="Users/Tests/detail/1">
                        <h3 class="panel-title">Panel title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    Тектст на статия ...............................................................................
                    ...............................................................................................
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>

