@model PsychologicalGuide.Web.Models.Areas.User.Models.QuestionViewModel

<div class="form-group">
    @Html.LabelFor(x => x.Text)

    @foreach (var answer in Model.Answers)
    {
        <div class="radio">
            @Html.RadioButtonFor(x => x.SelectId, answer.Id, new { id = answer.Id.ToString() })
            @Html.Label(answer.Id.ToString(), answer.Value)
        </div>
    }
</div>