@model PsychologicalGuide.Web.Models.ThingOfTheDayViewModel

<div class="row margin-200">
    <div class="col-md-12">
        <h3 class="text-uppercase">@Model.Content</h3>
        <p class="lead">Автор:@Model.Author</p>
    </div>
</div>
